<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Listar Personas {% endblock title%}</title>
</head>
<body>
    {% block body %}
    <h1>Contactos</h1>
    <table border="2">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in object_list %}
            <tr>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.correo}}</td>
                <td><a href="{% url 'update' persona.id %}">Editar</a></td>
                <td><a href="{% url 'delete' persona.id %}">Eliminar</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    {% endblock body %}
</body>
</html>