*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   

}

body{
    background: white;
    font-size: 10px;
    font-family: 'Lexend Mega', sans-serif;

}

.contenedor_universal
{
    width: 90%;
    max-width: 500px;
    margin: auto;
}

form{
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background: whitesmoke;
    overflow: hidden;
    box-shadow: 0 0 3px gray;
    border-top: 4px solid red;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea
{
    border: 1px solid blue;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-family: 'Lexend Mega', sans-serif;
    color: violet;
}

form input[type="text"] :focus,
form input[type="email"] :focus,
form input[type="password"] :focus,
form textarea :focus
{
    border: 2px solid yellow;
    padding: 15px;
}

form textarea
{
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    min-height: 150px;
}

.alert
{
    padding: 1em;
    color: black;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 14px;
}

.alert.error
{
    background: red;
    border: 1px solid violet;
    color: white;
}

.alert.exito
{
    background:green;
    border: 1px solid blue;
    color: white;
}

form input[type="submit"]
{
    padding: 15px;
    background: #ed572a;
    color: white;
    font-size: 1em;
    font-family: 'Lexend Mega', sans-serif;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}

form input[type="submit"] :hover
{
    background: orange;
}

 


